
body {
    background-color:skyblue;
    text-align: center;
    background-image: url("https://webimage.10x10.co.kr/playing/thing/vol013/img_pattern_4_2.jpg")
    
    

}

header {
    color: palevioletred

}

p {
    color: black
}